
<div id="all">
        <!--sidbar part-->

    <div class="sidebar">
    <div class="logo"></div>
        <ul class="main">
            <li>
                <a href="{%url 'main:profs'%}">
                    <i class="none"></i>
                    <span>بیلانس</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="none"></i>
                    <span>پروفایل</span>
                </a>
            </li>
            <li>
                <a href="{%url 'main:notes_list_all'%}">
                    <i class="none"></i>
                    <span>یادداشت ها</span>
                </a>
            </li>

        </ul>
    </div>