{% extends 'finance/public_dash.html' %}
{% load main_tags %}
{% load static %}
{% block meta %}

{% endblock %}
{% block dash_title %}
  یادداشت ها
{% endblock %}
{% block dash_content %}
  <div>
    <div style="display: flex;">
      <div style="margin-left:10%;margin-right: 10%;">
        <a class="btn btn-success" href="{% url 'main:create_note' %}">ایجاد یادداشت</a>
      </div>
      <div>
        <button style="display:sticky;" class="btn btn-danger" onclick="document.getElementById('select-form').submit()">حذف یادداشت</button>
      </div>
    </div>
    <hr />
    <div>
      <form action="{% url 'main:delete_notes' %}" method="post" id="select-form">
        {% csrf_token %}
        {% for note in notes %}
          <div style="border: 1px solid black;">
            <div style="flex-direction:row;display:flex;" id="title-and-thick">
              <input class="form-check-input" style="display:block;direction:rtl;" type="checkbox" name="note_id{{ note.id }}" value="{{ note.id }}" />
              <span id="title_">{{ note.title|truncatechars:10 }}</span>
            </div>
            <hr />
            <div id="note-content">
              <p style="overflow-wrap:break-word;">{{ note.content|truncatechars:400 }}</p>
            </div>
          </div>
          <br />
        {% empty %}
          يادداشتی موجود نیست
        {% endfor %}
      </form>
    </div>
  </div>

  <script>
    const ulr = "{%url 'main:main'  %}notes/"
    var page = 1
    var current_y_offset = 0
    window.onscroll = function () {
      if (window.pageYOffset - current_y_offset > 100) {
        page++
        current_y_offset = window.pageYOffset
        console.log(ulr + '?page=' + page)
    
        fetch(ulr + page)
          .then((response) => response.text())
          .then((html) => {
            console.log('---data coming in')
            if (html === '') {
              console.log('---nothing coming in')
    
              return 0
            } else {
              console.log('---inserted')
              document.getElementById('notes').insertAdjacentHTML('beforeend', html)
            }
          })
      }
    }
  </script>
{% endblock %}
