{% extends 'main__/base.html' %}
{% load static %}
{%block head%}
    <link rel="stylesheet" href="{%static 'css/a_ccount/login.css'%}">
{%endblock%}
{% block title %}ورود{% endblock %}
{% block content %}
    <h5 class="word" >لطفا وارد حساب  خویش شوید  </h5>
    <br>
    <form  method="post" >
        <label dir="rtl" > نام کاربری </label><input   type="text" name="username" placeholder="username">
        <label dir="rtl" > رمز ورود </label><input  class="input-group-sm" type="password"  name="password" placeholder="password">
        <span  style="color: red;">{{ errors.message }}</span>
        <br>
        {% csrf_token %}
        <input class="form container d-flex justify-content-center btn btn-primary"  type="submit" value="وارد شدن">
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    </form>
{% endblock %}