{% if not pdf %}
    <div dir="rtl" id="header">
        <div id="store_name">
            <p>
            ادویه فروشی احمدیار
            </p>
        </div>

        {% if request.user.is_authenticated %}
            <div class="menu_bar">
                <span class="menu_item"><a  href="{% url 'main:main' %}">صفحه اصلی</a></span>
                <span class="menu_item"><a href="{% url 'main:show_list' 'bgt' %}">خرید ها</a></span>
                <span class="menu_item"><a href="{% url 'main:show_list' 'sld' %}">فروشات</a></span>
                <span class="menu_item"><a  href="{% url 'main:sldqr' %}"> فروش دوا </a></span>
                {% comment %} <span id="menu_item"><a target="{%if  pax  %}_blank{% endif%}" href="{% url 'main:bgt' %}"> خرید دارو </a></span> {% endcomment %}
                <span class="menu_item"><a  href="{%url 'main:profs'%}"> بیلانس </a></span>
                <span class="menu_item">
                    {%if pax%}
                        <form  method='post' action="{%url 'main:search' pax%}" >
                            {% csrf_token %}
                            <input style="text-align:center"   type='text' name='term'>
                            <input  type='submit' class='btn btn-success btn-sm' value='جستجو'>
                        </form>
                    {%endif%}
                </span>
                {% comment %} <span ><a class="btn btn-success btn-sm" href="{% url 'a_ccount:log_out' %}">خروج</a></span> {% endcomment %}
            </div>
        {% endif %}
    </div>
    {% if messages %}
            {% for m in messages %}
              <div class="alert alert-{{m.tags}} show-notification w-100" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ m|safe }}
              </div>
            {% endfor %}
    {% endif %}
{%endif%}